*{
    margin:0%;
    padding:0;
    box-sizing:border-box;
    color: white;
}

html,body{
    height:100%;
    width:100%
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding:25vh 10vw;
}
.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.line h2 {
    font-size: 5.5vw;
    text-transform: uppercase;
    font-weight: 300;
    animation: anime 3s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0% {
        color: #fff;
        -webkit-text-stroke: 1px #fff;
        opacity: 1;
        transform: scale(1);
    }
    40% {
        color: #fff;
        -webkit-text-stroke: 1px #fff;
        opacity: 0;
        transform: scale(1.1);
    }
    50% {
        color: #ffb347;
        -webkit-text-stroke: 1px #ffb347;
        opacity: 1;
        transform: scale(1);
    }
    100% {
        color: #ffb347;
        -webkit-text-stroke: 1px #ffb347;
        opacity: 0;
        transform: scale(1.1);
    }
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}
#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-family: serif;
    font-weight:  100;
}
#line1-part1 h5{
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 5.9vw;
    text-transform: uppercase;
    font-weight:200;
}
#main{
    position: relative;
    background-color: #030303;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
